<div ng-controller="CommentCtrl">
    <div class="comment">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <textarea ng-model="txtcomment" class="form-control pull-left" name="comment" id="comment" placeholder="Write your opinion" rows="1"></textarea>
                </div>
            </div>
            <div class="col-sm-2">
                <button ng-click='addComment();' class="btn btn-default submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cast</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h4>Opinions</h4>
                <ul>
                    <li ng-repeat="thisComment in data">
                        <div class="col-sm-2">
                            <img src="https://graph.facebook.com/{{ cmt.uid }}/picture?width=50" class="img-circle">
                        </div>
                        <div class="col-sm-10">
                            {{ cmt.commentString }} <a  style="float: right;" href="" ng-click="removeComment($index)">x</a>
                        </div>
                        {{ cmt }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
