<div ng-controller="FeedCtrl" class="mt20 feed-box">
    <div infinite-scroll="loadMoreFeeds()" infinite-scroll-distance="10" infinite-scroll-disabled="fetching"></div>
        <div class="box shade" ng-repeat="story in feeds">
           <a ng-href="/topic/{{story.tid}}/{{ story.description | spaceless}}" ng-click="loadQuestion(story.tid)">
               <div class="f18 strong">
                   {{ story.description }}
               </div>
               <div class="row mt20">
              <div class="col-sm-7 mb20">
                  <div class="InB va">
                      <img class="img-circle" ng-src="https://graph.facebook.com/{{ userCount[story.uid].fbid }}/picture?width=36" />
                  </div>
                  <div class="InB va ml5">
                      <div class="low strong f09">{{ userCount[story.uid].name }}</div>
                      <div class="light f08">
                          <span am-time-ago="story.postedOn"></span>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <div class="container-fluid text-right" ng-if="voteCountList[story.tid].total > 0">
                      <div class="row strong low text-center">
                          <div class="col-xs-6">
                              {{ voteCountList[story.tid].up + voteCountList[story.tid].haha }} supporters
                          </div>
                          <div class="col-xs-6">
                              {{ voteCountList[story.tid].down + voteCountList[story.tid].angry }} haters
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-6 levels p0 m0">
                              <div class="progress m0">
                                  <div class="progress-bar pull-right progress-bar-success" style="width:{{ 100 * voteCountList[story.tid].up / voteCountList[story.tid].total }}%"></div>
                              </div>
                          </div>
                          <div class="col-xs-6 levels p0 m0">
                              <div class="progress m0">
                                  <div class="progress-bar progress-bar-danger" style="width:{{ 100 * voteCountList[story.tid].down / voteCountList[story.tid].total }}%"></div>
                              </div>
                          </div>
                      </div>
                      <div class="row strong low text-right mt3"><!-- crsrPntr"> ng-click="loadCommentForm(story.tid)">-->
                          {{ commentCountList[story.tid] || 0 }} opinions
                      </div>
                  </div>
              </div>
          </div>
           </a>
        </div>
    </div>
</div>
