<div ng-controller="FeedCtrl">
    <div class="panel" ng-repeat="story in feeds">
        <div class="panel-body">
            <h3 class="p10 m0 text-center">
                <a href="#" ng-click="loadQuestion(story.tid)">
                    {{ story.description }}
                </a>
            </h3>
            <p class="f09 plr10 ca"><i class="fa fa-clock-o"></i> started <span am-time-ago="story.postedOn"></span></p>
            <div class="row-fluid">
                <div class="col-sm-6 p0 spot">
                <!-- truncate responses after 140 characters using aangular-->
                    <div class="bg-ok p5 text-right">
                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition
                    </div>
                    <div class="bg-ok p5 text-right">
                        People really, really want it.
                    </div>
                </div>
                <div class="col-sm-6 p0 spot">
                    <div class="bg-no p5">
                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition
                    </div>
                    <div class="bg-no p5">
                        It has destroyed the meaning of playing at outdoors.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="f1">
                <span title="UpVotes">45</span>
                <a href="#">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <span title="discussions">12</span>
                <a href="#">
                    <i class="fa fa-comment-o"></i>
                </a><br/>
                <a href="/trending"><small>#4 trending in Politics</small></a>
            </div>
        </div>
    </div>
</div>
