<div class="container-fluid app" ng-show="user === 0 || user === false">
    <div class="welcomePage" style="margin-top: 200px;">
        <div class="row">
            <span class="fa fa-pencil f50" ></span>
            <h4>Online debating</h4>
        </div>
        <div class="row" style="margin-top:30px;" ng-show="user === 0">
            <div class="fb-login-button" data-max-rows="1" data-size="large" scope="email,user_work_history" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" onlogin="checkLoginState()"></div>
        </div>
    </div>
</div>
