<nav class="navbar navbar-inverse">
    <div class="container" ng-controller="NavCtrl">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navdeb8">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/!">Onl9 Deb8</a>
        </div>
        <div class="collapse navbar-collapse" id="navdeb8">
            <ul class="nav navbar-nav mr20">
                <li ng-class="{'active': page === 'feeds'}">
                    <a href="#/!feeds" ng-click="loadFeed()">Feeds</a>
                </li>
            </ul>
            <a href="#" class="btn btn-primary btn-sm navbar-btn" ng-click="loadEditor()">
                Start debating now
            </a>
        </div>
    </div>
</nav>
