<nav class="navbar navbar-default">
    <div class="container" ng-controller="NavCtrl">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navdeb8">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="feed.html">Onl9 Deb8</a>
        </div>
        <div class="collapse navbar-collapse" id="navdeb8">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" ng-click="loadFeed()">Feeds</a>
                </li>
                <li><a href="#">Trending Topics</a></li>
                <li><a href="#">My Debates</a></li>
            </ul>
            <a href="#" class="btn btn-success navbar-btn">
                Start debating now
            </a>
        </div>
    </div>
</nav>
