<nav class="navbar mt10" id="onlineDebatingNavigation">
    <div class="container" ng-controller="NavCtrl">
        <div class="navbar-header">
            <a class="navbar-brand gray f15" href="#!/" ng-click="loadFeed()">
                <i class="fa fa-bullhorn"></i>
                <span class="light"><strong>instahorn</strong> <small>{{page}}</small></span>
            </a>
            <div class="pull-right visible-xs mr20">
                <img src="https://graph.facebook.com/{{ user.id }}/picture?width=42" class="img-circle mt10">
            </div>
        </div>
        <div class="visible-xs text-center mt10">
            <div class="row-fluid">
                <div class="col-xs-8 col-xs-offset-2">
                  <a ng-href="#!/start" class="float" ng-click="loadEditor()">
                      <i class="fa fa-pencil my-float"></i>
                  </a>
                  <div class="label-container bringUp">
                      <div class="label-text">Post a Debate</div>
                      <i class="fa fa-play label-arrow"></i>
                  </div>
                </div>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li>
                <img src="https://graph.facebook.com/{{ user.id }}/picture?width=42" class="img-circle mt10">
            </li>
            <li>
                <a ng-href="#!/start" class="btn btn-danger postBtn mt10" ng-click="loadEditor()">
                    <span class="fa fa-pencil"></span> &nbsp;Post a Debate
                </a>
            </li>
        </ul>
    </div>
</nav>
