<div class="rootElem">
    <div class="container-fluid">
        <div class="row-fluid clearfix">
            <div class="col-sm-9 text-center">
                <div class="row">
                    <div class="row text-center"><img class="img-circle" ng-src="https://graph.facebook.com/{{debate.fbid}}/picture?width=60"></div>
                </div>
                <!--<div ng-class="{'h1':commentFlag == 0, 'h3 text-success':commentFlag == 1, 'h3 text-danger':commentFlag == -1}" class="ease">{{ debate.question }}</div>-->
                <div class="h1 ease">{{ debate.question }}</div>
                <p class="f09">
                    Started by <strong>{{ debate.name }}</strong> &bullet;&nbsp;
                    <span class="text-muted">
                        <i class="fa fa-clock-o"></i> <span am-time-ago="debate.when"></span>
                    </span>
                </p>
                <div class="mt20 btn-space text-center crsrPtr brdrStd p10">
                    <!--<button ng-disabled="commentFlag == 1" class="btn btn-sm btn-success" ng-click="vote(debate.id, 'up')">
                        <i class="fa fa-check"></i> I support this one!
                    </button><small><span class="badge">{{ debate.upCount }}</span></small>
                    <button ng-disabled="commentFlag == -1" class="btn btn-sm btn-danger" ng-click="vote(debate.id, 'down')">
                        <i class="fa fa-times"></i> Nah. Nope. I disagree.
                    </button><small><span class="badge">{{ debate.downCount }}</span></small>-->
                    <div class="row">
                        <div class="col-sm-1 col-xs-3 col-sm-offset-2" ng-click="vote(debate.id, 'up')">
                            <div class="row reaction crsrPntr" ng-class="{'reaction-sel':reactionSel=='up'}">
                                <img ng-src="/assets/img/torch.svg">
                            </div>
                            <div class="row">
                                <small>I am in <span ng-show="debate.upCount>0" class="badge reaction-Count"> {{ debate.upCount }}</span></small>
                            </div>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1 col-xs-3" ng-click="vote(debate.id, 'haha')">
                            <div class="row reaction crsrPntr" ng-class="{'reaction-sel':reactionSel=='haha'}">
                                <img ng-src="/assets/img/laughing.svg">
                            </div>
                            <div class="row">
                                <small>Haha <span ng-show="debate.hahaCount>0" class="badge reaction-Count"> {{ debate.hahaCount }}</span></small>
                            </div>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1 col-xs-3" ng-click="vote(debate.id, 'down')">
                            <div class="row reaction crsrPntr" ng-class="{'reaction-sel':reactionSel=='down'}">
                                <img ng-src="/assets/img/bomb.svg">
                            </div>
                            <div class="row">
                                <small>Rubbish <span ng-show="debate.downCount>0" class="badge reaction-Count"> {{ debate.downCount }}</span></small>
                            </div>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1 col-xs-3" ng-click="vote(debate.id, 'angry')">
                            <div class="row reaction crsrPntr" ng-class="{'reaction-sel':reactionSel=='angry'}">
                                <img ng-src="/assets/img/flame.svg">
                            </div>
                            <div class="row">
                                <small>Angry <span ng-show="debate.angryCount>0" class="badge reaction-Count"> {{ debate.angryCount }}</span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group mt20" ng-class="{'has-error': commentFlag == -1, 'has-success': commentFlag == 1}" ng-hide="commentFlag == 0">
                    <textarea class="form-control" placeholder="Have an opinion? [Optional]" ng-model="comment"></textarea>
                    <div class="text-right">
                        <button class="btn btn-xs btn-default mt20 mr20" ng-click="cancelOpinion()">
                            <i class="fa fa-chevron-right"></i> Skip
                        </button>
                        <button class="btn btn-xs btn-primary mt20" ng-click="postMyOpinion(1)">
                            <i class="fa fa-send"></i> Express
                        </button>
                    </div>
                </div>-->
                <div>
                    <h4 class="">{{ opinions.length > 0 ? 'Opinions' : 'No Opinions' }}</h4>
                    <button type="button" class="btn btn-primary-text" ng-click="loadCommentForm(debate.id, 2)"><span class="fa fa-paper-plane"></span> Express your Opinion now!</button>
                    <!--<div class="input-group">
                        <input type="text" ng-model="txtcomment" class="form-control pull-left" name="comment" id="comment" placeholder="What you think?">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success">Support</button>
                            <button type="button" class="btn btn-warning">Oppose</button>
                        </div>
                    </div>-->
                </div>
                <div ng-show="opinions" class="col-sm-12 text-left cmmtBg mt20">
                    <ul>
                        <li ng-repeat="thisOpinion in opinions" class="usrComments mt20 brdrStd">
                            <div ng-class="{'leftscrollbar': thisOpinion.type == 'down'}" ng-class="{'text-left' : thisOpinion.type == 'up' }" class="row">
                                <div ng-hide="{{ thisOpinion.type == 'down' }}" class="col-sm-2 col-xs-2 lh3 p0 text-center">
                                    <div class="row">
                                        <img ng-src="https://graph.facebook.com/{{ userInfo[thisOpinion.uid] ? userInfo[thisOpinion.uid] : user.id }}/picture?width=40" class="img-circle">
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-clock-o"></i>
                                        <small>
                                            <span class="{{ thisOpinion.type }}" am-time-ago="thisOpinion.editedOn"></span>
                                        </small>
                                    </div>
                                </div>
                                <div class="shade col-sm-8 col-xs-8 cmtTxt" ng-class="{'text-right': thisOpinion.type == 'down'}">
                                    <a href="#" ng-click="loadQuestion(thisOpinion.tid)"><div style="min-height:50px;">{{ thisOpinion.description }}</div></a>
                                </div>
                                <div ng-hide="{{ thisOpinion.type == 'up' }}" class="col-sm-2 col-xs-2 lh3 p0 text-center">
                                    <div class="row">
                                        <img ng-src="https://graph.facebook.com/{{ userInfo[thisOpinion.uid] ? userInfo[thisOpinion.uid] : user.id }}/picture?width=40" class="img-circle">
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-clock-o"></i>
                                        <small>
                                            <span class="{{ thisOpinion.type }}" am-time-ago="thisOpinion.editedOn"></span>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-2 crsrPntr vSmText" style="float: right;">
                                    <button class="btn btn-xs btn-primary-text" title="Reply" ng-click="loadCommentForm(thisOpinion.tid, 4)"><!--ng-click="replyToComment($index, thisOpinion.oid)">-->
                                        <span class="fa fa-reply"></span> Reply
                                    </button>
                                    <button class="btn btn-xs btn-danger-text mt10" title="Delete" ng-click="removeComment($index, thisOpinion.tid)">
                                        <span class="fa fa-trash-o"></span> Delete
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide col-sm-9 posFxd bottom cmtBox">
                    <div class="row p10">
                       <input type="text" class="form-control" placeholder="What you think about it?">
                       <button class="btn btn-sm btn-success mt10" ng-click='addOpinion("up", 2);' type="button"><span class="fa fa-bullhorn"><strong> Support</strong></span></button>
                       <button class="btn btn-sm btn-danger mt10" ng-click='addOpinion("down", 2);' type="button"><span class="fa fa-thumbs-down"><strong> Oppose</strong></span></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm mt50">
                <div class="panel border posFxd mr20">
                    <div class="panel-heading similarBox">
                        <h4>Similar debates going on</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <h5><a href="#" ng-click="loadQuestion(2)">Should men be behaved like women for 1 week to help them realize inequality and challenges that women face</a></h5>
                            </li>
                            <li>
                                <h5><a href="#" ng-click="loadQuestion(6)">Should men be behaved like women for 1 week to help them realize inequality and challenges that women face</a></h5>
                            </li>
                            <li>
                                <h5><a href="#" ng-click="loadQuestion(9)">Should men be behaved like women for 1 week to help them realize inequality and challenges that women face</a></h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide">Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
