<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="DebateApp">
        <div class="container" ng-controller="AppCtrl">
            <div class="row-fluid clearfix">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>{{ question }}</h1>
                    <p>
                        Asked by <strong>{{ name }}</strong> &bullet;&nbsp;
                        <span class="text-muted">
                            <i class="fa fa-clock-o"></i> <span am-time-ago="when"></span>
                        </span>
                    </p>
                    <div class="text-center mt20 btn-space">
                        <button class="btn btn-sm btn-success"><i class="fa fa-check"></i> I support this one!</button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Nah. Nope. It's Bad.</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="container mt20">
            <hr />
            <div class="row-fluid clearfix">
                <div class="col-sm-6 visible-xs text-center">
                    <div class="f2">
                        <span>45</span>
                        <a href="#">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 text-right p0">
                    <p class="bg-ok p10 mb0">
                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition supporting it, and 550,000 have joined the group “100,000 Strong to gain a Dislike Button.” Given all the flack Facebook has taken recently for violating its users’ privacy, it couldn’t hurt to throw some of them a bone.
                        <br>
                        <small class="text-muted">by <strong>Ajay Nagar</strong> &bullet;&nbsp; <i class="fa fa-clock-o"></i> 40 mins ago</small>
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="f2">
                        <span>45</span>
                        <a href="#">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                    <!--
                    <div class="small">
                        <a href="#">
                            <i class="fa fa-comment"></i> &nbsp;Aman, Bijay and 32 others argued on this.
                        </a>
                    </div>
                    <div class="comments mt20">
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>

                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>

                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>

                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                        <div class="commentbox">
                            People really, really want it. Already, more than 3.2
                        </div>
                    </div>
                -->
            </div>
            <div class="row-fluid clearfix mt10">
                <div class="col-sm-6 text-right">
                    <div class="f2">
                        <span>1,116</span>
                        <a href="#">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 p0">
                    <p class="bg-no p10 mb0">
                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition supporting it, and 550,000 have joined the group “100,000 Strong to gain a Dislike Button.” Given all the flack Facebook has taken recently for violating its users’ privacy, it couldn’t hurt to throw some of them a bone.
                        <br>
                        <small class="text-muted">by <strong>Ajay Nagar</strong> &bullet;&nbsp; <i class="fa fa-clock-o"></i> 40 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/angular-moment.min.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>
