<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container mt20">
            <div class="row-fluid clearfix">
                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-body p2">
                            <div class="userProfile text-center">
                                <div class="photo"><img src="{{ asset('images/svg/programmer.svg') }}" height="50px" width="50px" /></div>
                                <div class="mt5"><b>Rohit Sharma</b></div>
                                <div><span class="fa fa-coffee"></span> CEO @Stareup</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Does Facebook needs a Dislike Button ?</h3>
                            <div class="row-fluid">
                                <div class="col-sm-6 p0 spot">
                                    <div class="bg-ok p5 text-right">
                                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition
                                    </div>
                                </div>
                                <div class="col-sm-6 p0 spot">
                                    <div class="bg-no p5">
                                        People really, really want it. Already, more than 3.2 million users have become fans of the “Dislike Button,” 1.3 million have signed a petition
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Homework should be banned.</h3>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Drone attacks against specific targets are a necessary part of modern warfare</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
    </body>
</html>
