<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <link rel="stylesheet" href="/assets/css/nprogress.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/nprogress.js"></script>
    </head>
    <body ng-app="DebateApp">
        <div id="fb-root"></div>

        <div ng-controller="AppCtrl">
            <div ng-controller="LoginCtrl">
                <app-login></app-login>
                <div ng-show="user">
                    <app-navigation></app-navigation>
                    <div class="container" ng-show="page === 'editor' || page === 'feeds'">
                        <div class="row-fluid">
                            <div class="col-sm-3 hidden-xs">
                                <app-side-profile></app-side-profile>
                            </div>
                            <div class="col-sm-9">
                                <div ng-show="page === 'editor'">
                                    <app-start-debate></app-start-debate>
                                </div>
                                <div ng-show="page === 'feeds'">
                                    <app-debate-feed></app-debate-feed>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="page === 'debate'">
                        <app-debate-page></app-debate-page>
                    </div>

                    <!--comments will be loaded at Bottom on click of show comments.-->
                    <div class="row-fluid" ng-show="subModule!=='comment'">
                      <app-comment-dialog></app-comment-dialog>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/angular.min.js"></script>

        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/angular-moment.min.js"></script>

        <script src="/app.js"></script>

        <script src="/services/socket.js"></script>
        <script src="/services/facebook.js"></script>
        <script src="/services/page.js"></script>
        <script src="/services/user.js"></script>

        <script src="/directives/app-login.js"></script>
        <script src="/directives/app-profile.js"></script>
        <script src="/directives/app-navigation.js"></script>
        <script src="/directives/app-debate-page.js"></script>
        <script src="/directives/app-debate-feed.js"></script>
        <script src="/directives/app-start-debate.js"></script>

        <script src="/controllers/app.js"></script>
        <script src="/controllers/login.js"></script>
        <script src="/controllers/navigation.js"></script>
        <script src="/controllers/feed.js"></script>
        <script src="/controllers/topic.js"></script>
    </body>
</html>
