<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="/socket.io/socket.io.js"></script>
    	<script>
            var socket = io();
            
            socket.on('auth', function(){
                socket.emit('init', {
                    'token': '10923490yuew9iashdihasidijasndknihe4891',
                    'url': location.pathname
                });
            });
        </script>
    </head>
    <body>
        <div class="container-fluid app">
            <div class="welcomePage" style="margin-top: 200px;">
                <div class="row">
                    <span class="fa fa-pencil f50" ></span>
                    <h4>Online debating</h4>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="btn-group">
                        <a class='btn btn-primary disabled'><i class="fa fa-facebook"></i></a>
                        <a class='btn btn-primary' href=''> Continue with Facebook</a>
                    </div>      
                </div>
            </div>
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
    </body>
</html>
