<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-fluid">
        	hello
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
    </body>
</html>
