<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/css/summernote.css" />
        <link rel="stylesheet" href="/assets/css/select2.min.css" />
        <link rel="stylesheet" href="/assets/css/app.css" />
        <link rel="stylesheet" href="/assets/css/feed.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="debateApp" >
        <div class="container" ng-controller="topics">
            <div class="col-sm-12">
                <h2>Start a new Debate</h2>
            </div>
            <div class="col-sm-12">
            <form ng-submit="sub()" method="post">
                <input type="hidden" ng-model="formdata.uid" value="1">
                <div class="form-group">
                    <label for="description">Subject </label><i class="text-danger fa fa-asterisk"></i>
                    <textarea ng-model="formData.description" class="form-control" name="subject" id="subject" placeholder="Add a striking introduction to the subject you want to discuss. Make sure you convey your subject in 250 characters." rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Tags</label>
                    <input type="text" ng-model="formData.tags" class="form-control" name="tags" id="tags" placeholder="Add tags related to your subject and audience"></input>
                </div>
                <div class="form-group">
                    <label for="description">Share with</label>
                    <select class="form-control" ng-model="formData.shareWith" name="friends" id="friends">
                        <option value="-1">Select Friends</option>
                        <option value="Mayank">Mayank</option>
                        <option value="Mayank">Rohit</option>
                        <option value="Mayank">Shahrukh Khan</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Start Debate</button>
                </div>
            </form>
            </div>
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/angular-moment.min.js"></script>
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/summernote.min.js"></script>
        <script src="/assets/js/select2.min.js"></script>
        <script>
              $('#tags').select2({
                  tags: true,
                  tokenSeparators: [',']
              });
              $('#friends').select2();
        </script>
        <script src="/controllers/TopicUIController.js"></script>
    </body>
</html>
