html, body {
    height: 100%;
    width: 100%;
    background:#fefefe;
}

.welcomePage {
    margin-top: 120px;
}

.feed-box .box {
    border-bottom: 1px solid #eee;
    padding: 5px 10px 20px 10px;
    margin-bottom: 30px;
}

.mt3 {
    margin-top: 3px;
}

.shade a {
    color: #333;
}

.shade a:hover {
    text-decoration: underline;local
}

.mt50 {
    margin-top: 50px;
}

ul.navbar-nav li {
    margin-right: 20px;
}

.feed-box .card {
    margin-bottom: 12px;
}

.mt30 {
    margin-top: 30px;
}

.gray {
    color: #333;
}

.f15 {
    font-size: 1.5em;
}

.strong {
    font-weight: 700;
}

.f18 {
    font-size: 1.8em;
}

.low {
    color: #aaa;
}

.light {
    font-weight: 300;
}

.app {
    background-image: url('/assets/img/page2.jpg');
    background-size: cover;
    height: 100%;
}

.card {
  position:relative;
  z-index:2;
  padding:1.5rem;
  box-shadow: 0px 1px 3px 1px #e0e0e0;
  background:white;
  border-radius:3px;
  user-select:none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    /*border: 1px solid #2c3e50;*/
}

::-webkit-scrollbar-thumb {
    /*border: 2px solid #2c3e50;*/
    background: #18bc9c;
}

.f50 {
    font-size: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.f1 {
    font-size: 1em;
}

.f11 {
    font-size: 1.1em;
}

.f12 {
    font-size: 1.2em;
}

.f2 {
    font-size: 2em;
}

.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}


.btn-space .btn {
    margin:5px 10px;
}

.h100per {
    height: 100%;
}

.spot {
    line-height: 1.75;
}

.spot .bg-ok {
    margin-right: 0;
}

.spot .bg-ok, .spot .bg-no {
    font-size: 0.9em;
    color: #555;
}

.bg-ok {
    margin-right: -5px;
    border-right: 5px solid #bbf9a7;
    background-image: linear-gradient(to left, #edffe7 , white);
}

.bg-no {
    border-left: 5px solid #f1d7dc;
    background-image: linear-gradient(to right, #f9eaed , white);
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #333;
}

.mb0 {
    margin-bottom: 0;
}

.mb50 {
    margin-bottom: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt0 {
    margin-top: 0;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.ml5 {
    margin-left: 5px;
}

.va {
   vertical-align: middle;
}


.levels .progress, .levels .progress-bar {
    border-radius: 0px;
    height: 5px;
}

.m0 {
    margin: 0;
}

.InB {
    display: inline-block;
}

.f09 {
    font-size: 0.9em;
}

.f08 {
    font-size: 0.8em;
}

.ca {
    color: #aaa;
}

.cr {
    color: #e74c3c;
}

.ease {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
}

.fullScreen {
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    z-index:1000 !important;
}

.upArrow {
    margin-left: 50%;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #3498db;
}

.backButton {
    font-size: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.crsrPntr {
    cursor: pointer;
}

.ml10 {
    margin-left: 10px;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.panel {
  box-shadow: 2px 2px 2px rgb(169, 199, 208);
}

.lh3 {
    line-height: 3;
}

.label-container{
  	position:fixed;
  	bottom:48px;
  	right:105px;
  	display:table;
  	visibility: hidden;
}

.label-text{
  	color:#FFF;
  	background:rgba(51,51,51,0.5);
  	display:table-cell;
  	vertical-align:middle;
  	padding:10px;
  	border-radius:3px;
}

.label-arrow{
  	display:table-cell;
  	vertical-align:middle;
  	color:#333;
  	opacity:0.5;
}

.float{
  	position:fixed;
  	width:60px;
  	height:60px;
  	bottom:40px;
  	right:40px;
  	background-color:#e74c3c;
  	color:#FFF;
  	border-radius:50px;
  	text-align:center;
  	box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.my-float{
  	font-size:24px;
  	margin-top:18px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
}

.bringUp {
    z-index: 2;
}

.postBtn {
    padding: 7px 20px !important;
}
