html, body {
    height: 100%;
    width: 100%;
}

.app {
    background-image: linear-gradient( #6c6cb5, #eaebec );
    height: 100%;
}

.welcomePage {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.f50 {
    font-size: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.f11 {
    font-size: 1.1em;
}

.f2 {
    font-size: 2em;
}

.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}


.btn-space .btn {
    margin:5px 10px;
}

.btn .fa {
    margin-right: 5px;
}

.spot .bg-ok {
    margin-right: 0;
}

.spot .bg-ok, .spot .bg-no {
    font-size: 0.9em;
    color: #555;
}

.bg-ok {
    margin-right: -5px;
    border-right: 5px solid #adef97;
}

.bg-no {
    border-left: 5px solid #ffb1c2;
}

.p10 {
    padding: 10px;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}
