html, body {
    height: 100%;
    width: 100%;
}

.app {
    background-image: linear-gradient( #cdcdfb, #193b5a );
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.welcomePage {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.f50 {
    font-size: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.f1 {
    font-size: 1em;
}

.f11 {
    font-size: 1.1em;
}

.f2 {
    font-size: 2em;
}

.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}


.btn-space .btn {
    margin:5px 10px;
}

.h100per {
    height: 100%;
}

.spot .bg-ok {
    margin-right: 0;
}

.spot .bg-ok, .spot .bg-no {
    font-size: 0.9em;
    color: #555;
}

.bg-ok {
    margin-right: -5px;
    border-right: 5px solid #bbf9a7;
    background-image: linear-gradient(to left, #edffe7 , white);
}

.bg-no {
    border-left: 5px solid #f1d7dc;
    background-image: linear-gradient(to right, #f9eaed , white);
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mr20 {
    margin-right: 20px;
}

.m0 {
    margin: 0;
}

.f09 {
    font-size: 0.9em;
}

.f12 {
    font-size: 12px;
}

.ca {
    color: #aaa;
}

.fullScreen {
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    z-index:1000 !important;
}

.upArrow {
    margin-left: 48%;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #3498db;
}

.backButton {
    font-size: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}
