html, body {
    height: 100%;
    width: 100%;
}

.app {
    background-image: linear-gradient( #cdcdfb, #193b5a );
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid #2c3e50;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #2c3e50;
    background: #18bc9c;
}

.welcomePage {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.f50 {
    font-size: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.f1 {
    font-size: 1em;
}

.f11 {
    font-size: 1.1em;
}

.f2 {
    font-size: 2em;
}

.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}


.btn-space .btn {
    margin:5px 10px;
}

.h100per {
    height: 100%;
}

.spot {
    line-height: 1.75;
}

.spot .bg-ok {
    margin-right: 0;
}

.spot .bg-ok, .spot .bg-no {
    font-size: 0.9em;
    color: #555;
}

.bg-ok {
    margin-right: -5px;
    border-right: 5px solid #bbf9a7;
    background-image: linear-gradient(to left, #edffe7 , white);
}

.bg-no {
    border-left: 5px solid #f1d7dc;
    background-image: linear-gradient(to right, #f9eaed , white);
}

.p10 {
    padding: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.mb0 {
    margin-bottom: 0;
}

.mb50 {
    margin-bottom: 50px;
}

.mt0 {
    margin-top: 0;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.m0 {
    margin: 0;
}

.f09 {
    font-size: 0.9em;
}

.f12 {
    font-size: 12px;
}

.ca {
    color: #aaa;
}

.cr {
    color: #e74c3c;
}

.ease {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
}

.fullScreen {
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    z-index:1000 !important;
}

.upArrow {
    margin-left: 50%;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #3498db;
}

.backButton {
    font-size: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.ml10 {
    margin-left: 10px;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.panel {
  box-shadow: 2px 2px 2px rgb(169, 199, 208);
}

.lh3 {
    line-height: 3;
}
