.feedLayer {
		background: #EEE;
}

.photo {
    border-radius: 25px;
}

.userPhotos {
		border-radius: 25px;
		padding:5;
}

.userInfo {
		font-size: 10px;
		width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.postedTime {
		margin-top: -10px;
    margin-bottom: 10px;
}

.responseText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.comment {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.85);
		color: #ccc;
		padding: 10px;
		height: 50%;
		overflow: auto;
}

.comment ul li {
		list-style: none;
}

.usrComments {
		line-height: 1.5;
		padding-top: 10px;
		list-style: none;
}

.cmtTxt {
		max-height: 75px;
		overflow: auto;
		text-overflow: ellipsis;
		word-wrap: break-word;
}
.hideCommentBox {
		display: none;
}

a:hover {
    text-decoration: none;
}

.similarBox {
		background-color: #5a8dbf;
		color: white;
		font-weight: 500;
}

.up {
		border-bottom: 1px solid #18bc9c;
}

.down {
		border-bottom: 1px solid #e74c3c;
}
