.feedLayer {
	background: #EEE;
}

.photo {
    border-radius: 25px;
}

.userPhotos {
	border-radius: 25px;
	padding:5;
}

.userInfo {
	font-size: 10px;
	width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.postedTime {
	margin-top: -10px;
    margin-bottom: 10px;
}

.responseText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.comment {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.85);
		color: #ccc;
		padding: 10px;
		height: 40%;
		overflow: auto;
}

.comment ul li {
	list-style: none;
}

.usrComments {
		height: 50px;
		vertical-align: middle;
		line-height: 1.5;
		padding-top: 20px;
		text-overflow: ellipsis;
    overflow: auto;
}
