<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    </head>
    <body>
        <h1>Post a topic for debate</h1>
        <form>
            <div class="form-group">
                <label for="description"> Stare a new debate</label>
                <textarea  class="form-control" id="description" placeholder="Add a striking introduction to the subject you want to discuss. Make sure you convey your subject in 250 characters."></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Start Deb8</button>
            </div>
        </form>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
        <script src="/assets/js/angular-route.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
    </body>
</html>
